.Dashboard{
    background-color: rgba(238, 242, 246, 1);
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    .sidebar{
      // width: 20%;
      // overflow: scroll;
      overflow: scroll;
     
    }
    .sidebar::-webkit-scrollbar{
      display: none;
    }
    .target{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        // width: 85%;
        overflow: scroll;
        .graph{
          margin: 1rem;  
        }
    }
    .target::-webkit-scrollbar{
      display: none;
    }
}
.cards{
  display: flex;
}