.Dashboard{
    background-color: rgba(238, 242, 246, 1);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    .cards{
      display: flex;
    }
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  .target{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: scroll;
    .graph{
      margin: 1rem;  
    }
}
.target::-webkit-scrollbar{
  display: none;
}
}
.Dashboard::-webkit-scrollbar{
  display: none;
}