@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500&family=Maitree:wght@200;300;400;500;600;700&display=swap');

.back{

font-family: 'Maitree', serif;
height:100vh ;
overflow: hidden;
width: 100vw;
box-sizing: border-box;
background: #EEF2F6 ;
display: flex ;
}

.left{

height: 100%;
width: 60%;
display: flex;
align-items: end;
}

.illustration{
width: 80%; 
margin-left: 10%;

}

.right
{
height: 80%;
align-self: flex-end;
width: 40%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}

.inputs{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
}

.inputs input{
margin-top: 10px;
width: 50%;
height: 20px;
background-color: transparent;
border: none;
border-bottom: 1px solid black;

}


.loginBtn{
 background-color: #A259FF;
 width: 120px;
 color: #fff;
 border-radius: 20px;
 border: none;
 height: 30px;
}